*.tmp
*.jbf

# EAGLE

*.b#1
*.b#2
*.b#3
*.b#4
*.b#5
*.b#6
*.b#7
*.b#8
*.b#9
*.b##
*.s#1
*.s#2
*.s#3
*.s#4
*.s#5
*.s#6
*.s#7
*.s#8
*.s#9
*.s##

# GERBER

*.GBL
*.GBO
*.GBS
*.gpi
*.dri
*.GTL
*.GTO
*.GTP
*.GTS
*.GM1
*.GBP

*.ZIP



############
## Windows
############

# Windows image file caches
Thumbs.db

# Folder config file
Desktop.ini


##############
## Sourceboost
##############
*.asm
*.brws
*.casm
*.cof
*.lst
*.map
*.obj
*.stat
*.tree
makefile.*
*.__f
*.exe
*.pp
cv-strip.hex


*.dxf
*.odt#

old/*.*
Backup_of_*.cdr
fascia/.svg2shenzhen-cache/export_options.pickle
fascia/.svg2shenzhen-cache/g115-F.Cu-export-true.hash
fascia/.svg2shenzhen-cache/g117-F.SilkS-export-true.hash
fascia/.svg2shenzhen-cache/images/F.Cu_g115.png
fascia/.svg2shenzhen-cache/images/F.SilkS_g117.png
fascia/fp-info-cache
fascia/fp-lib-table
*.gbr
*.gbrjob
*.kicad_mod
*.kicad_pcb-bak
*.pro
